@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, sans-serif;;
  font-weight: 300;
  color: #777;
}

/* BASIC COMPONENTS */
.hbox {
  display: flex;
  flex-direction: row;
}


.vbox {
  display: flex;
  flex-direction: column;
}

.side-column {
  height: 100%;
  width: 200px;
  min-width: 200px;
  overflow: auto;
}

.main-column {
  height: 100%;
  width: 700px;
  overflow: auto;
}

.expandable-box-item {
  flex-grow: 1000;
}



/* GENERAL COMPONENTS */


/* RESUME */

.resume {
  justify-content: center;
  height: 100%;
  box-shadow: 10px 10px 5px #888888;

}

.side-info {
  font-size: 0.9em;
}

.link-bar {
  width: 100%;
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0 0px 0;
}

.link-bar a {
  color: white;
}

.main-info {
  padding: 25px;
}

.profile {
  align-items: center;
  padding: 30px;
}

.profile > .name-box {
  font-weight: 400;
  align-items: center;
  padding: 20px 0 10px 0;
}

.profile > .name-box > .name {
  font-size: 1.3em;
}

.profile > .name-box > .other-name {
  font-size: 1.1em;
}

.profile > .bio {
  text-align: center;
  font-size: 0.9em;
}


.document {
  padding: 20px 0 0 0 ;
}

.section {
  /*outline: 1px solid blue;*/
  padding: 10px;
}

.section > .head {
  align-items: center;
  font-size: 1.5em;
  height: 50px;
}

.section > .head > .text {
  margin-left: 10px;
}

.story {
  /*outline: 1px solid orange;*/
  padding: 5px 0 10px 0;
}

.story > .head {
  padding: 5px 0 0 0;
}

.story > .head > .title {
  font-weight: 400;
}

.story > .body {
  padding: 5px 0 0 0;
  line-height: 1.5em;
}






.education .comment {
  margin: 5px 0 0 0;
  display: inline-block;
  font-size: 0.8em;
  border-radius: 3px;
  padding: 0 4px 0 4px;
  border-width: 1px;
  border-style: solid;
  white-space: nowrap;
  line-height: 1.2em;
}

.experience .employer {
  font-size: 0.8em;
  margin-top: -5px;
}


.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-list > .tag {
    display: inline-block;
    font-size: 0.8em;
    border-radius: 3px;
    padding: 0 4px 0 4px;
    color: #888;
    border-color: #DDD;
    border-width: 1px;
    border-style: solid;
    white-space: nowrap;
    line-height: 1.2em;
    margin: 0 3px 0 0;
}

ul {
    padding: 0 0 0 23px;
}


@media screen and (max-width:500px) {
  .resume {
     flex-direction: column;
     justify-content: unset;
  }

  .side-column {
    height: unset;
    width: 100%;
    overflow: unset;
  }

  .main-column {
    height: unset;
    width: 100%;
    overflow: unset;
  }

}