@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, sans-serif;;
  font-weight: 300;
  color: #777;
}

/* BASIC COMPONENTS */
.hbox {
  display: flex;
  flex-direction: row;
}

.app-form {
  background: #F5F5F5;
  height: 100vh;
  width: 100vw;
  align-content: center;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.side-column {
  height: 100%;
  width: 200px;
  min-width: 200px;
  overflow: auto;
}

.main-column {
  height: 100%;
  width: 700px;
  overflow: auto;
}

/*.expandable-box-item {
  flex-grow: 1000;
}
*/


/* GENERAL COMPONENTS */


/* RESUME */

.resume {
  justify-content: center;
  height: 100%;
  box-shadow: 10px 10px 5px #888888;

}

.side-info {
  padding: 25px;
  font-size: 0.9em;
}

.main-info {
  padding: 25px;
}

/*.document {
  padding: 20px 0 0 0 ;
}

.section {
  outline: 5px solid red;
  padding: 10px;
}

.section > .head {
  align-items: center;
  font-size: 1.5em;
  height: 50px;
}

.section > .head > .text {
  margin-left: 10px;
}*/


/*.tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-list > .tag {
    display: inline-block;
    font-size: 0.8em;
    border-radius: 3px;
    padding: 0 4px 0 4px;
    color: #888;
    border-color: #DDD;
    border-width: 1px;
    border-style: solid;
    white-space: nowrap;
}*/


@media screen and (max-width:500px) {
  .resume {
     flex-direction: column;
     justify-content: unset;
  }

  .side-column {
    height: unset;
    width: 100%;
    overflow: unset;
  }

  .main-column {
    height: unset;
    width: 100%;
    overflow: unset;
  }

}